.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-picture {
  height: 300px;
  width: 900px;
  margin: auto;
  border-radius: 10px
}
.navigation-pictures{
display: flex;
  justify-content:space-evenly;
  margin-top: 50px;
}
.navigation-pictures img {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.facebook-button img {
  height: 30px;
  padding: 20px 10px;
}
.facebook-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: white;
}
.facebook-button:hover{
  color:#7ba9c3;
  cursor: pointer;
}
.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px fuchsia;
}
body {
  background-color: black;
}