.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: black;
  background-image: url(/Users/riinameos/Desktop/JS REACT/React-09.22/ninesound/public/images/4709150.jpg);
  
  
}
.ninesound {
  color:black;
  font-style: bold;
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  text-decoration: line-through;
  letter-spacing: 0.3em;
  mix-blend-mode: normal;
  cursor:pointer;

}

button {
  color: black;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-weight: 600;
  cursor:pointer;
  font-style: bold;
}